.footer-section {
  background-color: #8B1538;
  font-family: 'Tajawal', sans-serif;
}

.brand-box-footer {
  background-color: #8B1538;
  border: 2px solid white;
  padding: 2px 10px;
  border-radius: 6px;
  display: inline-block;
}
