.custom-navbar {
  background-color: #8B1538;
  font-family: 'Tajawal', sans-serif;
}
.navbar-links {
  color: white !important;
  font-weight: bold;
  transition: color 0.3s ease;

  font-size: 20px;
  margin-left: 10rem;
}

.brand-box {
  background-color: #8B1538;
  border: 2px solid white;
  padding: 2px 10px;
  margin-left: 20px;
  border-radius: 6px;
}

.nav-link-active {
  font-weight: bold;
  border-bottom: 2px solid #FFC107;
  color: white !important;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}
